.menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
  }
  .menu li a:hover {
    background-color: #625656;
    border-radius: 40px;
  }
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }
  }